extends base

block content
  main.main.auth-page
    .login-form
      h2.heading-secondary.ma-bt-lg Create your account
      p.auth-subtitle Join us and start your adventure today!
      form.form.form--signup
        .form__group
          label.form__label(for='name') Name
          input#name.form__input(type='text', placeholder='Your name', required)

        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)

        .form__group
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')

        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Confirm password
          input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8', name='passwordConfirm')

        .form__group
          button.btn.btn--green(type='submit') Sign up
      
      p.auth-footer Already have an account? 
        a.auth-link(href='/login') Log in
